@model MeetGroupApp.Models.Reuniao

@{
    ViewBag.Title = "Apagar Reunião";
}

<h2>Apagar Reunião</h2>

<div>
    <h4>Reuniao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroSala)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
