@model IEnumerable<MeetGroupApp.Models.Reuniao>

@{
    ViewBag.Title = "Reuniões Agendadas";
}

<h2>Reuniões Agendadas</h2>

<p>
    @Html.ActionLink("Agendar Reunião", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroSala)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroSala)
        </td>
        <td>
            @Html.ActionLink("Detalhe", "Details", new { id=item.Id }) |
            @Html.ActionLink("Apagar Reunião", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
